{
  "auth": {
    "provider": "oauth",
    "requestTokenUrl": "https://<your-endpoint-here>/initiate",
    "authorizeUrl": "https://<your-endpoint-here>/authorize",
    "accessTokenUrl": "https://<your-endpoint-here>/token",
    "consumerKey": "<your-consumer-key-here>",
    "consumerSecret": "<your-consumer-secret-here>",
    "developerInfoUrl": "https://<your-endpoint-here>/",
    "developers": {
      // Map of developer ID to available SDC logins:
      "bob": ["Core", "Edge"],
      "alice": ["Edge"],
      "charlie": ["Core"]
    },
    "session": {
      "secret": "<unique-string-here>"
    }
  },
  "sdc" : {
    "dataCenters": {
      "coal-1": {
        "cloudapiUrl": "https://10.88.88.5"
      },
      "us-west-1": {
        "cloudapiUrl": "https://us-west-1.api.joyentcloud.com"
      }
    },
    "users": {
      "admin": {
        "key": "/Users/sdcportal/admin_rsa", "keyId": "coal-1", "login": "admin"
      },
      "JPC-User": {
        "key": "/Users/sdcportal/admin_rsa", "keyId": "us-west-1", "login": "jpcuser"
      }
    }
  }
}
